
main section.perfil {
    margin-top: 70px;
}

main section.perfil div {
    text-align: center;
  
}
main section.perfil div  p {
    color: white;
}

main section.perfil div svg {
    border: 1px solid var(--azul);
    padding: 10px;
    border-radius: 50%;  
    font-size: 7em;
}

main section.cardd article {
    margin-top: 70px;


}

main section.cardd article div {
    border-bottom: 1px solid gray;
    padding: 10px;
    color: white;
    font-weight: bold;
    text-transform: capitalize;

}