
main section.perfil {
    margin-top: 70px;
}

main section.perfil div {
    text-align: center;
  
}
main section.perfil div  p {
    color: white;
}

main section.perfil div svg {
    border: 1px solid var(--azul);
    padding: 10px;
    border-radius: 50%;  
    font-size: 7em;
}

main section.cardd article {
    margin-top: 70px;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    


}

main section.cardd article div {
    
    padding: 10px;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
  
    margin: 5px;
}

main section.cardd article div.fim {
    text-align: center;
    
    border-bottom: 1px solid;
}

main section.cardd article div svg {
    
}