
main section.top3 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    cursor: pointer;
}

main section.top3 div {
    color: var(--st);
    font-weight: bold;
    
}

main section.pessoa {
    margin-top: 70px;
}

main section.pessoa div {
    text-align: center;
  
}
main section.pessoa div  p {
    color: white;
}

main section.pessoa div svg {
    border: 1px solid var(--azul);
    padding: 10px;
    border-radius: 50%;  
    font-size: 5em;
}

main section.pessoa div.pergunta {
    color: var(--st);
  
}



main section.sms article div textarea {
    width: 100%;
    height: 150px;
    min-height: 100px;
    padding: 10px;
    outline-color: var(--sf);
    background-color: var(--f);
    color: var(--t);
    border-radius: 25px;
    border-color: var(--st);
    font-weight: bold;
}

main section.sms article div button {
    width: 100%;
    height: 70px;
    border-radius: 25px;
    border: 1px solid var(--azul);
    font-size: 1.1em;
    font-weight: bold;
    background-color: var(--azul);
    color: white;
    cursor: pointer;
}

