 section div {
    margin-top: 15px;
}

section div button.start {
    width: 100%;
    height: 70px;
    border-radius: 25px;
    border: 1px solid var(--azul);
    font-size: 1.1em;
    font-weight: bold;
    background-color: var(--azul);
    color: white;
    cursor: pointer;
}

 section div button.expo {
    width: 100%;
    height: 70px;
    border-radius: 25px;
    border: 1px solid var(--sf);
    font-size: 1.1em;
    font-weight: bold;
    background-color: var(--sf);
    color: white;
    cursor: pointer;
}